body {
    width: 300px;
    height: min(auto,900px);
    background-color: #262626;
    color: white;
}

h1,h2,h3 {
    margin: 0px;
}

#header {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
}

#header > img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    margin-right: 8px;
}