body {
    width: 300px;
    background-color: #121212;
    color: white;
}

h1,h2,h3 {
    margin: 0px;
}

button {
    border: 0;
    cursor: pointer;
}

#header {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px;
    filter: drop-shadow(0 0 1rem rgb(99, 99, 99));
}

#header > img {
    width: 30px;
    height: 30px;
    aspect-ratio: 1;
    margin-right: 8px;
}

#snippet-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}

#snippet-header > h2 {
    font-size: 1.75em;
}

#add-button {
    background-color: #0d7c07;
    color: white;
    border-radius: 3px;
}

#add-button:hover {
    background-color: #0d9006;
}

#add-button > img {
    height: 1.5em;
}

#snippet-container {
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
    height: min(200px,100%);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #1e1e1e black;
}

.snippet {
    background-color: #1e1e1e;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-right: 7px;
    border-radius: 8px;
}

.snippet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.snippet-top > .buttons {
    display: flex;
    justify-content: space-around;
    color: white;
    display: none;
}

.snippet:hover .buttons {
    display: block;
}

.buttons button{
    padding :  5px;
    border-radius: 2px;
}

.edit-button {
    background-color: #333;
    margin-right: 5px;
}

.buttons img {
    width: 20px;
}

.edit-button:hover {
    background-color: #444;
}

.delete-button {
    background-color: red;
}

.snippet > code {
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    height: 32px;
    display: block;
    overflow: hidden;
}

#toggle-active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#toggle-active > label {
    display: flex;
    align-items: center;
}

#toggle-active > label > span {
    margin-right: 5px;
}

#editor {
    margin: 20px;
}

#error {
    width: 100%;
    color: red;
    height: 15px;
    text-align: center;
}

#editor > h2 {
    text-align: center;
}

#editor input, #editor textarea {
    background-color: #2e2e2e;
    border: 2px solid #555;
    color: white;
    border-radius: 5px;
}

#editor input:focus, #editor textarea:focus {
    outline: none;
    border: 2px solid #3D93F8;
}

#editor input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}

#editor textarea {
    width: 100%;
    display: block;
    font-family: Consolas, "Courier New", monospace;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: #1e1e1e black;
    margin-bottom: 10px;
}

#save-button,#discard-button {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}

#save-button:hover {
    background-color: #0d9006;
}

#save-button {
    background-color: #0d7c07;
}

#discard-button {
    background-color: red;
}

#discard-button:hover {
    background-color: rgb(197, 7, 7);
}